@font-face {
  font-family: 'inston-icon';
  src:  url('fonts/inston-icon.eot?pyw5wa');
  src:  url('fonts/inston-icon.eot?pyw5wa#iefix') format('embedded-opentype'),
    url('fonts/inston-icon.ttf?pyw5wa') format('truetype'),
    url('fonts/inston-icon.woff?pyw5wa') format('woff'),
    url('fonts/inston-icon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="inston-icon-"], [class*=" inston-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'inston-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inston-icon-share:before {
  content: "\e919";
}
.inston-icon-aeroplane:before {
  content: "\e900";
}
.inston-icon-appointment:before {
  content: "\e901";
}
.inston-icon-calculator-symbols:before {
  content: "\e902";
}
.inston-icon-cap:before {
  content: "\e903";
}
.inston-icon-chat:before {
  content: "\e904";
}
.inston-icon-clock:before {
  content: "\e905";
}
.inston-icon-computer-graphic:before {
  content: "\e906";
}
.inston-icon-edit:before {
  content: "\e907";
}
.inston-icon-envelope:before {
  content: "\e908";
}
.inston-icon-factory:before {
  content: "\e909";
}
.inston-icon-group-1:before {
  content: "\e90a";
}
.inston-icon-group:before {
  content: "\e90b";
}
.inston-icon-home:before {
  content: "\e90c";
}
.inston-icon-humanitarian:before {
  content: "\e90d";
}
.inston-icon-like:before {
  content: "\e90e";
}
.inston-icon-loupe:before {
  content: "\e90f";
}
.inston-icon-pencil-edit-button:before {
  content: "\e910";
}
.inston-icon-phone-call:before {
  content: "\e911";
}
.inston-icon-price:before {
  content: "\e912";
}
.inston-icon-search:before {
  content: "\e913";
}
.inston-icon-team:before {
  content: "\e914";
}
.inston-icon-user-1:before {
  content: "\e915";
}
.inston-icon-user-2:before {
  content: "\e916";
}
.inston-icon-user:before {
  content: "\e917";
}
.inston-icon-working:before {
  content: "\e918";
}
